<launch>
<arg name="velodyne_calib" default = "$(find velodyne_pointcloud)/params/VLP16db.yaml"/>

<group ns = "vlp_2">

<include file = "$(find velodyne_pointcloud)/launch/VLP16_points.launch">
  <arg name="calibration" value = "$(arg velodyne_calib)"/>
  <arg name="device_ip" default="192.168.1.202" />
  <arg name="frame_id" default="vlp_2" />
  <arg name="port" default="2368" />
</include>

</group>


<group ns= "vlp_3">

<include file = "$(find velodyne_pointcloud)/launch/VLP16_points.launch">
  <arg name="calibration" value = "$(arg velodyne_calib)"/>
  <arg name="device_ip" default="192.168.1.203" />
  <arg name="frame_id" default="vlp_3" />
  <arg name="port" default="2369" />
</include>

</group>

<group ns= "vlp_4">

<include file = "$(find velodyne_pointcloud)/launch/VLP16_points.launch">
  <arg name="calibration" value = "$(arg velodyne_calib)"/>
  <arg name="device_ip" default="192.168.1.204" />
  <arg name="frame_id" default="vlp_4" />
  <arg name="port" default="2370" />
</include>

</group>


<group ns= "vlp_1">

<include file = "$(find velodyne_pointcloud)/launch/VLP16_points.launch">
  <arg name="calibration" value = "$(arg velodyne_calib)"/>
  <arg name="device_ip" default="192.168.1.201" />
  <arg name="frame_id" default="vlp_1" />
  <arg name="port" default="2367" />
</include>

</group>


</launch>